.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-primary);
  gap: 4px;
}

.footer h3 {
  font-size: 35px;
  height: auto;
  margin: 0;
}
